# 파일 다운로드

In [28]:
import sys
from pandas import read_csv, pivot_table, melt
from matplotlib import pyplot as plt
import numpy as np

In [19]:
# origin1 = read_csv('C:/Users/kimjh/산대특_데이터분석 알고리즘 개발/megaIT_da/2차 프로젝트/시간대별 카드 이용금액 현황_제주데이터랩(180101-231031).csv')
# origin2 = read_csv('C:/Users/kimjh/산대특_데이터분석 알고리즘 개발/megaIT_da/2차 프로젝트/업종별성별외식업이용정보_제주데이터랩(180101-231031).csv')
origin1 = read_csv('C:/Users/kimjh/산대특_데이터분석 알고리즘 개발/megaIT_da/2차 프로젝트/업종별성별카드이용정보_제주데이터랩(180101-231031).csv', encoding='euc-kr')

In [20]:
origin1.head()

       연월         업종명 이용자구분    성별  이용자수  이용건수       이용금액
0  201801  건강보조식품 소매업  기타외국  알수없음    65    78  101523250
1  201801  건강보조식품 소매업   내국인    남성   159   165   25558470
2  201801  건강보조식품 소매업   내국인  알수없음     1     1     396000
3  201801  건강보조식품 소매업   내국인    여성   200   218   32041740
4  201801  건강보조식품 소매업   동남아  알수없음     8     8    1550000

In [21]:
origin1.dtypes

연월        int64
업종명      object
이용자구분    object
성별       object
이용자수      int64
이용건수      int64
이용금액      int64
dtype: object

In [22]:
df = origin1.copy()

df['이용자구분'] = origin1['이용자구분'].astype('category')
df['성별'] = origin1['성별'].astype('category')
df['업종명'] = origin1['업종명'].astype('category')

In [26]:
df.dtypes

연월          int64
업종명      category
이용자구분    category
성별       category
이용자수        int64
이용건수        int64
이용금액        int64
dtype: object

In [30]:
pivot1 = pivot_table(df,
                     index='연월',
                     columns='업종명',
                     values='이용금액',
                     aggfunc='sum')
pivot1.head()

업종명,건강보조식품 소매업,골프장 운영업,과실 및 채소 소매업,관광 민예품 및 선물용품 소매업,그외 기타 분류안된 오락관련 서비스업,그외 기타 스포츠시설 운영업,그외 기타 종합 소매업,기타 갬블링 및 베팅업,기타 대형 종합 소매업,기타 수상오락 서비스업,...,중식 음식점업,차량용 가스 충전업,차량용 주유소 운영업,체인화 편의점,택시 운송업,"피자, 햄버거, 샌드위치 및 유사 음식점업",한식 음식점업,호텔업,화장품 및 방향제 소매업,휴양콘도 운영업
연월,,,,,,,,,,,,,,,,,,,,,
201801,328273485,2458673165,2907284447,832353050,4704000,35817800,3343228460,90980000,7802312864,2811000,...,1464967159,1120856730,16300240465,7754737089,0,1556090314,33784517597,4163517575,962804599,1952416963
201802,570907937,2169358350,3708246577,624690149,4282500,31370800,5734632710,97900000,7702395560,5859000,...,1213594016,1131421055,15235455722,6843729360,0,1361296071,30031494381,4064045550,916490974,1456181007
201803,478457437,4418972034,3485079442,896912425,3445000,42428300,3509291018,186500000,7158407120,9025000,...,1428407888,1181063298,16329571711,7895315195,0,1434812985,34029220873,3849267795,1076805724,1937749467
201804,719701442,5436537418,3808811641,1195512155,4168000,63382100,3473599950,75800000,7007236664,9233150,...,1463857656,975213889,15250613498,8000146588,0,1504376595,37499911782,4858510512,1011016720,2316340208
201805,608697453,6265399550,3304761670,1085472140,6084185,96156500,3740234000,112300000,7830273950,10867800,...,1516152206,938225743,16220829688,8909349917,0,1689290591,37769177295,5877113908,1107121068,2628547722

In [ ]:
mdf = melt(df, )